.pointer{
    cursor: pointer;
}
#Stage_Text{
    color: #FFF !important;
}
.arrastrables{
    cursor: move;
}
#Stage_Text3{
    margin-left: 20px !important;
    margin-top: 50px !important;
}
#Stage_Text3 p{
    color: #666666 !important;
    margin: 0;
    padding: 0;
    font-size: 19px;
}
#Stage_Text3 h1{
    color: #00A99D !important;
    font-weight: 600;
    margin: 0;
}
#Stage_texto p{
    color: #666666 !important;
    margin: 0;
    padding: 10px;
    font-size: 19px;
    line-height: 18px;

}
#Stage_texto span{
    color: #666666 !important;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 17px;
    font-weight: 300;
}